<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0" />
<title>领取奖励</title>
<!-- 引入 WeUI -->
<link rel="stylesheet" th:href="@{/css/weui/dist/style/weui.css}" />
</head>
<body>

	<div class="weui-msg">
		<div class="weui-msg__icon-area">
			<i class="weui-icon-success weui-icon_msg"></i>
		</div>
		<div class="weui-msg__text-area">
			<h2 class="weui-msg__title">领取成功</h2>
			<p class="weui-msg__desc">恭喜您成功领取奖励,请及时联系客服提供相关信息，方便客服发货</p>
		</div>
		<div class="weui-msg__opr-area"></div>
		<div class="weui-msg__extra-area">
			<div class="weui-footer">
				<p class="weui-footer__text">Copyright &copy; 2008-2016
					herocenter.cn</p>
			</div>
		</div>
	</div>

</body>
</html>